DATABASE_URL=

AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CORS_ORIGINS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

KAKAO_REST_API_KEY=
KAKAO_REDIRECT_URI=
KAKAO_CLIENT_SECRET=

GEMINI_API_KEY=
