@layer utilities {
  .title-28-b {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-28-sb {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-24-sb {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-22-m {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-20-m {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-18-sb {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-16-sb {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .title-16-m {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-20-m {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-18-sb {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-18-r {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-16-sb {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-16-r {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-14-r {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
  }

  .font-12-m {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
  }
}
